footer {
  display: flex;
  justify-content: space-around;
  background: rgb(235, 235, 235);

  padding: 2em 4em;
  div {
    width: 50%;
    .promo-button {
      margin: 2em;
    }
    form {
      padding: 1em 3em 1em 1em;
      input {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
      }
    }
  }
}
