header {
  display: flex;
  align-items: center;
  background: white;
  margin: 0 0;
  font-size: 0.8em;
  padding: 8px 20px;

  @mixin addicon($symbol) {
    align-items: center;
    display: flex;
    &::before {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($symbol);
      font-size: 2em;
      margin-right: 10px;
      color: $elements-color;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    margin: 0 0;
    font-size: 2em;
    font-weight: 700;

    &::before {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-door-open);
      height: 100%;
      padding: 6px 6px;
      font-size: 1.4em;
      color: $elements-color;
    }
  }
  .period {
    margin-left: 30px;
    @include addicon($fa-var-clock);
  }
  .address {
    margin-left: auto;
    @include addicon($fa-var-map-marker-alt);
  }
  .phone {
    margin-left: 30px;
    @include addicon($fa-var-phone);
  }
}
