.main {
  @extend section;
  background-size: auto auto;
  $o: 0.6;
  background-image: repeating-linear-gradient(
      -45deg,
      rgba(0, 0, 0, $o - 0.01),
      rgba(0, 0, 0, $o - 0.01) 5px,
      rgba(0, 0, 0, $o) 5px,
      rgba(0, 0, 0, $o) 10px
    ),
    url("img/main-bg.jpg");
  background-position: center;
  background-size: 100%, 180%;
  color: white;
  padding: 10em 3em 4em 10em;
  @each $min-width, $size in $media-breakpoints {
    @media (min-width: $min-width) {
      padding-right: 50% * $size;
      background-size: 100%, 130% / $size;
    }
  }
}
