.products {
  display: flex;
  padding-top: 2em;
  padding-bottom: 2em;
  align-content: stretch;
  flex-direction: row;
  flex-flow: wrap;
  background: white;
  h1 {
    font-size: 2em;
    margin-right: auto;
  }
  h2 {
    font-weight: 500;
  }
  ul {
    padding: 0em;
    border: red solid 1px;
    // width: max-content;
    display: inline-flex;
    list-style: none;
    flex-flow: wrap;
    li {
      width: 13em;
      img {
        width: 12em;
        justify-self: center;
      }
      p {
        font-size: 0.8em;
        &:first-of-type {
          font-family: "Gotham Pro Regular";
          font-size: 1em;
          font-weight: 700;
        }
        &:last-of-type {
          font-weight: 700;
        }
      }
    }
  }
}
