$elements-color: rgb(255, 196, 0);
$media-breakpoints: 576px 0.7, 768px 0.8, 992px 0.9, 1200px 1;

@import "bootstrap/scss/bootstrap-reboot";
@import "fonts";
@import "header";
@import "main";
@import "products";
@import "about";

body {
  padding: 0 0;
  color: black;
  background: white;
  font-family: "Gotham Pro Regular";
  font-size: 0.6em;
}

@each $min-width, $size in $media-breakpoints {
  @media (min-width: $min-width) {
    body {
      margin: 0 calc(50% - #{$min-width/2});
      font-size: 1em * $size;
    }
  }
}

p {
  font-family: "Gotham Pro Light";
  margin: 1em 0px;
}
section {
  display: flex;
  margin: 0 0;
}
$btn-color: $elements-color;
.promo-button {
  display: inline-block;
  background: $btn-color;
  border: darken($btn-color, 10%) solid 1px;
  text-align: center;
  padding: 0.5em 1.5em;
  border-radius: 2em;
  font-family: "Gotham Pro Regular";
  font-weight: 700;
  color: black;
  &:link {
    color: black;
    font-family: "Gotham Pro Regular";
    font-weight: 700;
  }
  &:visited {
    color: black;
  }
  &:hover {
    background: lighten($btn-color, 10%);
    text-decoration: none;
  }
}
